[Unit]
Description=Keycloak ldap-proxy Server
After=syslog.target network.target keycloak.service

[Service]
DynamicUser=yes
SuccessExitStatus=0
RuntimeDirectory=%N
ExecStartPre=+bash -c "install -o$(stat -c %%u ${RUNTIME_DIRECTORY}) /etc/glauth.cfg ${RUNTIME_DIRECTORY}/glauth.cfg"
ExecStart=/usr/bin/glauth -c "${RUNTIME_DIRECTORY}/glauth.cfg"
PrivateTmp=yes
NoNewPrivileges=yes
RemoveIPC=yes
MemoryDenyWriteExecute=yes
RestrictNamespaces=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectControlGroups=yes
PrivateDevices=yes
RestrictSUIDSGID=yes
ProtectSystem=strict
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX
ProtectHome=yes
LockPersonality=yes
RestrictRealtime=yes
SystemCallFilter=@system-service
RestartSec=1min
Restart=on-failure

EnvironmentFile=/etc/glauth.env

[Install]
WantedBy=multi-user.target
